<body style="background: url(/assets/movement.jpg)">
  <div style="background-color: rgb(211, 211, 211)" class="jumbotron text-center">
    <h1>What is the movement of a watch?</h1>
    <p>And why is it so important?</p>  
  </div>
  <img src="assets/mechanical.jpg">
  <p class="text" ><b>Mechanical</b> – the movement will cause the second hand to move in a smooth sweeping motion.<br/> The watch requires manual winding to operate.</p>
  <img src="assets/quartz.jpg">
  <p class="text"><b>Quartz</b> – the movement causes the second hand to move in individual ticks. Powered by a battery.</p>
  <img src="assets/automatic1.jpg">
  <p class="text" ><b>Automatic</b> – kinetic energy from the wearer’s wrist is transferred automatically to drive the mechanism inside the watch.</p>
  <br />
  <div class="col-md-4">
    <div class="thumbnail">
        
        <div class="caption">
          <p class="text" ><b>How Quartz Movement Works? </b><br/>A quartz timepiece is powered by a battery that sends an electrical signal through a piece of crystal quartz.
            The quartz vibrates 32768 times per second, creating a signal with a precise frequency.
            The vibrations are measured by the circuit and converted into a single pulse every second.
            The consistent movement of the watch hands is a result of this pulse.</p>
        </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
        
        <div class="caption">
          <p class="text" ><b>How Mechanical Movement Works? </b><br/>Unlike quartz movements, a mechanical movement uses energy from the wound mainspring to power a watch, rather than a battery.
            This spring transfers energy through a number of springs and gears, powering the function of the watch hands and the complications.</p>
        </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
        
        <div class="caption">
          <p class="text" ><b>How Automatic Movement Works? </b><br/>A metal weight called a rotor is added to the manual parts.
            The rotor can rotate freely and is connected to the movement.
            The rotor spins with each movement of the wrist, transferring the energy to the mainspring.
            The mainspring is automatically wound as a result of this energy transfer.</p>
        </div>
    </div>
  </div>

</body>
