<body style="background: url(assets/watch-wallpaper-45070-46240-hd-wallpapers.jpg)">
  <div style="background-color: rgb(211, 211, 211)" class="jumbotron text-center">
      <h1>Do you really know alot about watches ?</h1>
      <p>Here are some Historical facts about 5 of the Largest Watch Makers in the world!</p>  
    </div>
<div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
            <img src="assets/casio.png">
            <div class="caption">
              <p class="text" >Casio was established as Kashio Seisakujo in April 1946 by Tadao Kashio, an engineer specializing in fabrication technology. Kashio's first major product was the yubiwa pipe, a finger ring that would hold a cigarette, allowing the wearer to smoke the cigarette down to its nub while also leaving the wearer's hands free.Japan was impoverished immediately following World War II, so cigarettes were valuable, and the invention was a success.</p>
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
            <img src="assets/breitling-logo.png">
            <div class="caption">
              <p class="text">The company fits certified chronometers in all models.Watches are usually marketed towards either diving (SuperOcean) or aviation (Navitimer). Aviation models such as the Navitimer offer aviation functions largely as complications, since their function in aviation has largely been replaced by modern electronic instruments. The styling of Breitling watches is characterized by polished cases, bracelets and large watch faces which are designed to improve readability.</p>
            </div>
        </div>
      </div>
      <div class="col-md-4">
            <div class="thumbnail">
                <img src="assets/tissot_logopng.png">
                <div class="caption">
                  <p class="text">Tissot is an official timekeeper for the world championships in cycling, motorcycling, fencing and ice hockey, and was used for the Davis Cup in 1957 and downhill skiing in Switzerland in 1938. Tissot was also a key sponsor for the Formula One teams Lotus, Renault and Sauber. Tissot's first engagement as an official timekeeper was in 1938 where they timed a series of Ski races.</p>
                </div>
            </div>
          </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
            <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="assets/omega.jpg">
                        <div class="caption">
                          <p class="text">Omega SA is a Swiss luxury watchmaker based in Biel/Bienne, Switzerland. Formally operating as the La Generale Watch Co, founded in 1848, later incorporating the name Omega in 1903. Britain's Royal Flying Corps chose Omega watches in 1917 as its official timekeepers for its combat units, as did the American Army in 1918. Omega watches were the choice of NASA and the first watch on the Moon in 1969</p>
                        </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="assets/tag-heuer-logo-150x150.png">
                            <div class="caption">
                              <p class="text">In 1933, Heuer introduced the "Autavia", a dashboard timer used for automobiles and aviation (whence its name, from "AUTos" and "AVIAtion"). The companion "Hervue" was a clock that could run for eight days without being wound. Over the period from 1935 through the early 1940s, Heuer manufactured chronographs for pilots in the Luftwaffe, known as "Flieger" (pilot) chronographs.</p>
                            </div>
                        </div>
                      </div>
    </div>
  </div>
</body>