

<body style="background:url(assets/top10.jpg)">
    <div style="background-color: rgb(211, 211, 211)" class="jumbotron text-center">
      <h1>Here are 7 of the Most Interesting Facts about watches</h1>
      <p>See the tip of the iceberg below</p>  
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
          
          <div class="caption">
            <h6 class="text"><b>Fact #1 The 007 Part</b></h6>
            <p class="text" >1. In the James Bond movies Sean Connery wears a Rolex Submariner while Daniel Craig wears an Omega watch. In the Bourne Ultimatum, Matt Damon wears a TAG Heuer watch. However, the self-claimed watch brand of the movies is Hamilton – they seems to appear in 151 movies from The Frogmen in 1951 (Robert Wagner – Frogman) to Interstellar in 2014 (Matthew McConaughey - Khaki Pilot Day Date; Jessica Chastain and Mackenzie Foy - Custom Murph Watch)</p>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
          
          <div class="caption">
              <h6 class="text"><b>Fact #2 The First Watch</b></h6>
            <p class="text" >The earliest known example of humans measuring the passage of time via the current sexagesimal system (i.e. numeral system with sixty as base) relates to about 2’000 BC with the Sumer. The Egyptian divided the day in two cycles of twelve hours and measured the time with sundials (measuring changes on shadows position over time) for day time and water clocks for night time. Then the ancient Greeks started using the so called clepsydrae that were measuring time with the passage of sand from one container to another.</p>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
          
          <div class="caption">
              <h6 class="text"><b>Fact #3 Popularity</b></h6>
            <p class="text" >The pocket watch started to be known in 15th century but really became popular during Tudor times in the 16th century (as seen also in a portrait of King Henry VIII). The first pocket watches had one single hand showing the hours – minute hand started being used only in 17th century. Since then watchmakers competed to produce smaller and smaller watches that could be easily carried and in 1518, François I spent a fortune on two watches set in daggers.</p>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
          
          <div class="caption">
              <h6 class="text"><b>Fact #4 Space</b></h6>
            <p class="text" >The Omega Speedmaster was a favorite accessory in space! NASA astronauts wore the watch on their mission to the Moon (7 Apollo astronauts), and both American and Russian astronauts wore it for the first craft meeting of Apollo-Soyuz.</p>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
          
          <div class="caption">
              <h6 class="text"><b>Fact #5 The First World War</b></h6>
            <p class="text" >Modern wristwatches, didn’t become popular and used by men until during the First World War. For the first time in history, men (soldiers) wore watches around their wrists which allowed them more freedom of movement. At about the same time the first series-production of wristwatch with alarm was done by Eterna.</p>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
          
          <div class="caption">
              <h6 class="text"><b>Fact #6 The Modern Chronograph</b></h6>
            <p class="text" >The first modern chronograph was invented by Louis Moinet in 1816. In 1844 Adolphe Nicole's updated version of the chronograph was the first to include a re-setting feature which now allowed successive measurements, unlike the constantly moving needle in the original chronograph.</p>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
          
          <div class="caption">
              <h6 class="text"><b>Fact #7 Rolex and Omega Defying Magnetism</b></h6>
            <p class="text" >The Rolex Milgauss and Omega Seamaster Aqua Terra have been designed to remain reliable and precise in environments with extremely high magnetic fields – environments that a “normal” person would not generally experience but might be useful to certain scientists (e.g. people who work at the CERN).</p>
          </div>
      </div>
    </div>
  
  </body>
  