
<body style="background: url(assets/mission1.jpg)">

<div style="background-color: rgb(211, 211, 211)" class="jumbotron text-center">
  <h1>Our Mission!</h1>
  <p>Feel free to read about why the website exists!</p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3 class="text"><b>The Initial Idea</b></h3>
      <p class="text">We wanted to create a website were you can Buy or Sell any brand of watch for Free!</p>
      <p class="text">There is still alot to come but the future looks bright!</p>
    </div>

  </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2 class="text"><b>Our Website allows you to: </b></h2>
        <button class="btn btn-success" routerLink="/watches/list" >Review all the Available Offers !</button>
        <br/>
        <br/>
        <button class="btn btn-success" routerLink="//watches/create" >Publish your Offer !</button>
        <br/>
        <br/>
        <button class="btn btn-success" routerLink="/user-profile" >Review your Profile and your Offers !</button>
        <br/>
        <br/>
      </div>

    </div>
  </div>
  

</body>


