<html lang="en">
<body style="background: url(assets/timex.jpg)">

<div style="background-color: rgb(211, 211, 211)" class="jumbotron text-center">
  <h1>Welcome to Watch-Wolrd!</h1>
  <p>The free online marketplace for your used or brand new watches!</p>  
</div>
<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Are you're just a visitor looking for cool information about watches?</h3>
        <button class="btn btn-info" routerLink="/brands-history" >Take me to the Watch History Page!</button><br/>
        <br/>
        <button class="btn btn-info" routerLink="/mechanisms" >Take me to see the types of watch Mechanisms!</button>
        <br/>
        <br/>
        <button class="btn btn-info" routerLink="/Topseven" >Take me to see some cool Facts!</button>
      </div>
    </div>
  </div>
<br />     
<br /> 
<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Free to Register!</h3>
        <p>It takes aproximetelly 2 minutes to register and start posting and reviewing offers</p>
        <button class="btn btn-success" routerLink="/auth/signup" >Take me to the Registration !</button>
      </div>
    </div>
  </div>

  <br /> 
  <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h3>If you already have a profile you can login here!</h3>
          <button class="btn btn-success" routerLink="/auth/signin" >Take me to the Login !</button>
        </div>
      </div>
    </div>
    <br />
</body>
</html>
